/* theme colours */
/* semantic colours */
#menuitem-switcher {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 30%;
    gap: 5%;
    justify-items: center;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}
#menuitem-switcher .selected {
    box-shadow: #d5c6ff 0 4px 16px -3px;
}
#menuitem-switcher > * {
    transition: all 0.5s;
    width: fit-content;
}
#menuitem-switcher > *:not(.selected) {
    opacity: 0.5;
}
#menuitem-switcher > *:not(.selected):hover {
    opacity: 1;
}
