@import '../../global/fonts';
@import '../../global/colours';

#cart {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 100vh;
    width: 100%;
    max-height: 100vh;

    grid-template-areas: 'main summary';

    #order-summary {
        grid-area: summary;
    }

    main {
        padding: 3rem 5rem;
        grid-area: main;
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 9fr;
        grid-template-columns: auto;

        .pgtitle {
            @include heading2;
            font-size: 2.25rem;
            color: $onLight;
            margin: 2rem 0;
        }

        a.nav {
            color: $primary;
            @include heading1;
            font-size: 1.15rem;
        }
    }
}
