@import '../../global/fonts';
@import '../../global/colours';

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15fr 85fr;
    grid-template-rows: 7fr 93fr;
}

.nav {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 7vh;
    box-shadow: 4px 2px 13px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.dashboard {
    background-color: $primary;
    grid-column: 1;
    grid-row: 1 / 3;
    width: 100%;
}

.analytics {
    padding: 2.5rem;
    width: 100%;
    height: 93vh;
    align-items: center;
    background-color: $bgDarker;
    color: $onLight;
    @include body;
    grid-column: 2;
    grid-row: 2;
}

.cards {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 5fr 3fr;

    .analytics-title {
        h1 {
            font-size: 30px;
        }
        grid-column: 1 / 4;
        grid-row: 1;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-row: 1;
    }

    .customer-list {
        height: 100%;
        h2 {
            padding: 12px;
        }
        .titles {
            font-weight: bold;
        }
        grid-row: 2 / 5;
        grid-column: 1;
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        background-color: white;
        box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 10fr 85fr 5fr;
        .lst {
            overflow: auto;
        }
    }
    .total-customers {
        h2 {
            text-align: center;
            font-size: 50px;
        }
        grid-row: 2;
        grid-column: 2;
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        background-color: white;
        box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
    }
    .total-orders {
        grid-row: 2;
        grid-column: 3;
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        background-color: white;
        box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
    }
    .updates {
        grid-row: 3;
        grid-column: 2 / 4;
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        background-color: white;
        box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
    }
}

.details {
    h2 {
        color: $primary;
    }
    hr {
        margin-bottom: 10px;
    }
    height: 100%;
    width: 195%;
    grid-row: 3;
    grid-column: 3 / 5;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
}

.detailed-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.customer-info {
    user-select: none;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: auto;
    gap: 2px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;

    img {
        height: 1.3em;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 10px;
    }

    p {
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
    }

    hr {
        width: 100%;
    }
}
.customer-info-title {
    user-select: none;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: auto;
    gap: 2px;

    p {
        padding: 10px 20px;
    }

    hr {
        width: 100%;
    }
}
.customer-info:hover {
    background-color: rgba(147, 119, 226, 0.4);
}
.customer-info:active {
    background-color: rgba(147, 119, 226, 0.7);
}

.sort-by {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-columns: 1;
    align-items: center;
    margin-right: 9px;
}

label {
    font-size: 17px;
    padding-right: 15px;
}

.pagination {
    list-style: none;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    justify-content: center;
}
.page-item {
    display: inline;
}
.page-link {
    display: inline;
    padding: 10px;
}

.details-btn {
    background-color: $primary;
    width: 30%;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    user-select: none;
    transition: 0.3s;

    img {
        height: 1.2em;
        object-fit: cover;
        margin-right: 10px;
    }
}
.details-btn:hover {
    box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
}

.dashboard {
    img {
        padding: 15px;
        width: 90%;
        object-fit: cover;
        align-items: center;
    }
}
