/* theme colours */
/* semantic colours */
#my-account {
  background-color: #f8f5ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto;
  column-gap: 2%;
  grid-template-areas: 'navbar' 'maincontent';
  height: 100vh;
  width: 100%; }
  #my-account nav {
    grid-area: navbar; }
  #my-account .content {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #my-account .content .accent {
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px; }
