@import '../../global/fonts';
@import '../../global/colours';

.container {
    height: 100%;
    width: 100%;
}

.shopping-list {
    padding: 2.5rem;
    width: 100%;
    height: 93vh;
    align-items: center;
    background-color: $bgDarker;
    color: $onLight;
    @include body;
}

.cards-shopping-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
}

.shopping-list-title {
    h1 {
        font-size: 30px;
    }
    grid-column: 1 / 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 1;
}

.ingredients {
    height: 100%;
    h2 {
        padding: 12px;
    }
    .titles {
        font-weight: bold;
    }
    grid-row: 2 / 6;
    grid-column: 1;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10fr 85fr 5fr;
    .lst {
        overflow: auto;
    }
}

.ingredient-info {
    user-select: none;
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: auto;
    gap: 2px;
    transition: 0.3s;

    img {
        object-fit: cover;
        height: 1.2em;
        align-self: center;
        justify-content: center;
    }

    p {
        padding: 14px 20px;
    }

    hr {
        width: 100%;
    }
}
.ingredient-info-title {
    user-select: none;
    display: grid;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: 1;
    gap: 2px;

    p {
        padding: 10px 20px;
    }

    hr {
        width: 100%;
    }
}
.ingredient-info:hover {
    background-color: rgba(147, 119, 226, 0.4);
}
.ingredient-info:active {
    background-color: rgba(147, 119, 226, 0.7);
}

.total-orders-shopping {
    align-self: center;
    justify-self: center;
    height: 70%;
    width: 60%;
    h2 {
        text-align: center;
        font-size: 50px;
    }
    grid-row: 2;
    grid-column: 2;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
}
.total-ingredients {
    align-self: center;
    justify-self: center;
    height: 70%;
    width: 60%;
    h2 {
        text-align: center;
        font-size: 50px;
    }
    grid-row: 3;
    grid-column: 2;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
}
.total-in-stock {
    align-self: center;
    justify-self: center;
    height: 70%;
    width: 60%;
    h2 {
        text-align: center;
        font-size: 50px;
    }
    grid-row: 4;
    grid-column: 2;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
}
.total-needed {
    align-self: center;
    justify-self: center;
    height: 70%;
    width: 60%;
    h2 {
        text-align: center;
        font-size: 50px;
    }
    grid-row: 5;
    grid-column: 2;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -2px 2px 14px -5px rgba(0, 0, 0, 0.75);
}
