@import '../../../global/fonts';
@import '../../../global/colours';

#menuitem {
    display: flex;
    padding: 3rem 3.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: $bgDarker;
    border-radius: 50px;
    color: $onLight;
    @include body;
    height: 100%;

    #pastry-img-div {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        //background-color: $primary;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        #pastry-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    #menuitem-info {
        width: 40%;
        height: 100%;
        display: grid;
        gap: 2%;
        grid-template-rows: 15% 5% 15% 42% 15%;

        & > * {
            height: 100%;
        }

        h1 {
            @include menuitem;
        }

        h3 {
            display: flex;
            flex-direction: row;
            @include heading1;

            .price {
                color: $primary;
            }
        }

        #flavours {
            display: flex;
            flex-direction: column;

            div {
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 4rem;
                overflow: auto;
                padding: 0 1rem 0.5rem 0;
                height: 100%;

                .flavour {
                    @include body;
                    box-shadow: $shadow 0 4px 16px -3px;
                    background-color: $bg;
                    padding: 1rem;
                    transition: all 0.5s;

                    &.selected {
                        background-color: $primary-light;
                    }

                    &:hover {
                        box-shadow: $primary-light 0 4px 16px -3px;
                    }
                }
            }
        }

        #add-to-cart-section {
            display: grid;
            grid-template-columns: 2fr 1.15fr;
            grid-template-rows: 100%;
            gap: 3rem;
            @include heading1;
            width: 100%;
            height: 100%;

            .btn {
                padding: 0.5rem;
            }

            #add-to-cart-btn {
                width: auto;
                height: 100%;
                border-radius: 10px;
                box-shadow: $shadow 0 4px 16px -3px;
                cursor: pointer;
            }

            #qty-chooser {
                display: flex;
                box-shadow: $shadow 0 4px 16px -3px;
                background-color: $bg;
                padding: 1.5rem;
                column-gap: 4%;
                border-radius: 10px;

                #qty {
                    outline: none;
                    border: none;
                    text-align: center;
                    @include heading1;
                    width: 30%;
                }

                .btn {
                    border-radius: 0;
                    background-color: $bg;
                    font-size: 1.5rem;
                    width: 30%;

                    &.plus {
                        border-left: 2px solid $onLight;
                    }

                    &.minus {
                        border-right: 2px solid $onLight;
                    }
                }
            }
        }
    }
}
