@import '../../../global/fonts';
@import '../../../global/colours';

#menuitem {
    display: flex;
    padding: 3.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: $bgDarker;
    border-radius: 50px;
    color: $onLight;
    @include body;
    height: 100%;

    #pastry-img-div {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        //background-color: $primary;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        #pastry-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    #menuitem-info {
        width: 40%;
        height: 100%;
        display: grid;
        gap:2%;
        grid-template-rows: 15% 5% 15% 42% 15%;

        & > *{
            height:100%;
        }

        h1 {
            @include menuitem;
        }

        h3 {
            display: flex;
            flex-direction: row;
            @include heading1;

            .price {
                color: $primary;
            }
        }

        #flavours {
            display: flex;
            flex-direction: column;

            div {
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 4rem;
                overflow:auto;
                padding-right:1rem;

                .flavour {
                    @include body;
                    box-shadow: $shadow 0 4px 16px -3px;
                    background-color: $bg;
                    padding: 1rem;
                    transition: all 0.5s;

                    &.selected {
                        background-color: $primary-light;
                    }

                    &:hover {
                        box-shadow: $primary-light 0 4px 16px -3px;
                    }

                    
                }

                .flavour-enter{
                    opacity: 0.01;
                }

                .flavour-enter.flavour-enter-active{
                    opacity: 1;
                    transition: opacity 0.6s ease-in;
                }

                .flavour-exit{
                    opacity: 1;
                }

                .flavour-exit.flavour-exit-active{
                    opacity: 0.01;
                    transition: opacity 0.3s ease-in;
                }
            }
        }

        #add-to-cart-section {
            display: flex;
            justify-content: space-between;
            @include heading1;
            width: 100%;
            height: 5rem;

            .btn {
                padding: 0.5rem;
            }

            #add-to-cart-btn {
                box-shadow: $shadow 0 4px 16px -3px;
                padding: 1rem 2rem;
                position: relative;

                transition: all 1s;

                #add-to-cart-success {
                    opacity: 0;
                    position: relative;
                    left: 26px;
                    transition: 1s all;
                }

                #first {
                    display: inline;
                    right: 8px;
                    transition: 0.7s all;
                    position: relative;
                }
                #extra {
                    position: relative;
                    right: 20px;
                    display: inline;
                    transition: 0.7s all;
                }
                #extra-inner {
                    opacity: 0;
                    transition: 0.7s all;
                    right: 30px;
                    position: relative;
                    display: inline;
                }
            }

            #qty-chooser {
                display: flex;
                width: 50%;
                box-shadow: $shadow 0 4px 16px -3px;
                background-color: $bg;
                padding: 1.5rem;
                column-gap: 4%;
                border-radius: 10px;

                #qty {
                    outline: none;
                    border: none;
                    text-align: center;
                    @include heading1;
                    width: 30%;
                }

                .btn {
                    border-radius: 0;
                    background-color: $bg;
                    font-size: 1.5rem;
                    width: 30%;

                    &.plus {
                        border-left: 2px solid $onLight;
                    }

                    &.minus {
                        border-right: 2px solid $onLight;
                    }
                }
            }
        }
    }
}
