@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
/* theme colours */
/* semantic colours */
#menuitem {
  display: flex;
  padding: 3.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f5ff;
  border-radius: 50px;
  color: #232323;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  height: 100%; }
  #menuitem #pastry-img-div {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; }
    #menuitem #pastry-img-div:after {
      content: '';
      display: block;
      padding-bottom: 100%; }
    #menuitem #pastry-img-div #pastry-img {
      width: 100%;
      height: auto;
      object-fit: contain; }
  #menuitem #menuitem-info {
    width: 40%;
    height: 100%;
    display: grid;
    gap: 2%;
    grid-template-rows: 15% 5% 15% 42% 15%; }
    #menuitem #menuitem-info > * {
      height: 100%; }
    #menuitem #menuitem-info h1 {
      font-weight: 700;
      font-family: "Nunito", sans-serif; }
    #menuitem #menuitem-info h3 {
      display: flex;
      flex-direction: row;
      font-weight: 700;
      font-family: "Poppins", sans-serif; }
      #menuitem #menuitem-info h3 .price {
        color: #9377e2; }
    #menuitem #menuitem-info #flavours {
      display: flex;
      flex-direction: column; }
      #menuitem #menuitem-info #flavours div {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 4rem;
        overflow: auto;
        padding-right: 1rem; }
        #menuitem #menuitem-info #flavours div .flavour {
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px -3px;
          background-color: #ffffff;
          padding: 1rem;
          transition: all 0.5s; }
          #menuitem #menuitem-info #flavours div .flavour.selected {
            background-color: #d5c6ff; }
          #menuitem #menuitem-info #flavours div .flavour:hover {
            box-shadow: #d5c6ff 0 4px 16px -3px; }
    #menuitem #menuitem-info #add-to-cart-section {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      width: 100%;
      height: 5rem; }
      #menuitem #menuitem-info #add-to-cart-section .btn {
        padding: 0.5rem; }
      #menuitem #menuitem-info #add-to-cart-section canvas {
        width: auto;
        height: 100%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px -3px;
        cursor: pointer; }
      #menuitem #menuitem-info #add-to-cart-section #add-to-cart-btn {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; }
        #menuitem #menuitem-info #add-to-cart-section #add-to-cart-btn #add-to-cart-success {
          opacity: 0;
          position: relative;
          left: 26px;
          transition: 1s all; }
        #menuitem #menuitem-info #add-to-cart-section #add-to-cart-btn #first {
          display: inline;
          right: 8px;
          transition: 0.7s all;
          position: relative; }
        #menuitem #menuitem-info #add-to-cart-section #add-to-cart-btn #extra {
          position: relative;
          right: 20px;
          display: inline;
          transition: 0.7s all; }
        #menuitem #menuitem-info #add-to-cart-section #add-to-cart-btn #extra-inner {
          opacity: 0;
          transition: 0.7s all;
          right: 30px;
          position: relative;
          display: inline; }
      #menuitem #menuitem-info #add-to-cart-section #qty-chooser {
        display: flex;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px -3px;
        background-color: #ffffff;
        padding: 1.5rem;
        -webkit-column-gap: 4%;
                column-gap: 4%;
        border-radius: 10px; }
        #menuitem #menuitem-info #add-to-cart-section #qty-chooser #qty {
          outline: none;
          border: none;
          text-align: center;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
          width: 30%; }
        #menuitem #menuitem-info #add-to-cart-section #qty-chooser .btn {
          border-radius: 0;
          background-color: #ffffff;
          font-size: 1.5rem;
          width: 30%; }
          #menuitem #menuitem-info #add-to-cart-section #qty-chooser .btn.plus {
            border-left: 2px solid #232323; }
          #menuitem #menuitem-info #add-to-cart-section #qty-chooser .btn.minus {
            border-right: 2px solid #232323; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIk1lbnVJdGVtRGlzcGxheS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsd0hBQXdIO0FBQ3hILGtCQUFrQjtBQUNsQixxQkFBcUI7QUFDckI7RUFDRSxhQUFhO0VBQ2IsZUFBZTtFQUNmLDhCQUE4QjtFQUM5QixtQkFBbUI7RUFDbkIseUJBQXlCO0VBQ3pCLG1CQUFtQjtFQUNuQixjQUFjO0VBQ2QsZ0JBQWdCO0VBQ2hCLGtDQUFrQztFQUNsQyxZQUFZLEVBQUU7RUFDZDtJQUNFLFVBQVU7SUFDVixZQUFZO0lBQ1osYUFBYTtJQUNiLHVCQUF1QjtJQUN2QixtQkFBbUI7SUFDbkIsa0JBQWtCO0lBQ2xCLGdCQUFnQixFQUFFO0lBQ2xCO01BQ0UsV0FBVztNQUNYLGNBQWM7TUFDZCxvQkFBb0IsRUFBRTtJQUN4QjtNQUNFLFdBQVc7TUFDWCxZQUFZO01BQ1osbUJBQW1CLEVBQUU7RUFDekI7SUFDRSxVQUFVO0lBQ1YsWUFBWTtJQUNaLGFBQWE7SUFDYixPQUFPO0lBQ1Asc0NBQXNDLEVBQUU7SUFDeEM7TUFDRSxZQUFZLEVBQUU7SUFDaEI7TUFDRSxnQkFBZ0I7TUFDaEIsaUNBQWlDLEVBQUU7SUFDckM7TUFDRSxhQUFhO01BQ2IsbUJBQW1CO01BQ25CLGdCQUFnQjtNQUNoQixrQ0FBa0MsRUFBRTtNQUNwQztRQUNFLGNBQWMsRUFBRTtJQUNwQjtNQUNFLGFBQWE7TUFDYixzQkFBc0IsRUFBRTtNQUN4QjtRQUNFLGFBQWE7UUFDYixTQUFTO1FBQ1QsOEJBQThCO1FBQzlCLG9CQUFvQjtRQUNwQixjQUFjO1FBQ2QsbUJBQW1CLEVBQUU7UUFDckI7VUFDRSxnQkFBZ0I7VUFDaEIsa0NBQWtDO1VBQ2xDLDhDQUE4QztVQUM5Qyx5QkFBeUI7VUFDekIsYUFBYTtVQUNiLG9CQUFvQixFQUFFO1VBQ3RCO1lBQ0UseUJBQXlCLEVBQUU7VUFDN0I7WUFDRSxtQ0FBbUMsRUFBRTtJQUM3QztNQUNFLGFBQWE7TUFDYiw4QkFBOEI7TUFDOUIsZ0JBQWdCO01BQ2hCLGtDQUFrQztNQUNsQyxXQUFXO01BQ1gsWUFBWSxFQUFFO01BQ2Q7UUFDRSxlQUFlLEVBQUU7TUFDbkI7UUFDRSxXQUFXO1FBQ1gsWUFBWTtRQUNaLG1CQUFtQjtRQUNuQiw4Q0FBOEM7UUFDOUMsZUFBZSxFQUFFO01BQ25CO1FBQ0UsMEJBQWtCO1FBQWxCLHVCQUFrQjtRQUFsQixrQkFBa0IsRUFBRTtRQUNwQjtVQUNFLFVBQVU7VUFDVixrQkFBa0I7VUFDbEIsVUFBVTtVQUNWLGtCQUFrQixFQUFFO1FBQ3RCO1VBQ0UsZUFBZTtVQUNmLFVBQVU7VUFDVixvQkFBb0I7VUFDcEIsa0JBQWtCLEVBQUU7UUFDdEI7VUFDRSxrQkFBa0I7VUFDbEIsV0FBVztVQUNYLGVBQWU7VUFDZixvQkFBb0IsRUFBRTtRQUN4QjtVQUNFLFVBQVU7VUFDVixvQkFBb0I7VUFDcEIsV0FBVztVQUNYLGtCQUFrQjtVQUNsQixlQUFlLEVBQUU7TUFDckI7UUFDRSxhQUFhO1FBQ2IsVUFBVTtRQUNWLDhDQUE4QztRQUM5Qyx5QkFBeUI7UUFDekIsZUFBZTtRQUNmLHNCQUFjO2dCQUFkLGNBQWM7UUFDZCxtQkFBbUIsRUFBRTtRQUNyQjtVQUNFLGFBQWE7VUFDYixZQUFZO1VBQ1osa0JBQWtCO1VBQ2xCLGdCQUFnQjtVQUNoQixrQ0FBa0M7VUFDbEMsVUFBVSxFQUFFO1FBQ2Q7VUFDRSxnQkFBZ0I7VUFDaEIseUJBQXlCO1VBQ3pCLGlCQUFpQjtVQUNqQixVQUFVLEVBQUU7VUFDWjtZQUNFLDhCQUE4QixFQUFFO1VBQ2xDO1lBQ0UsK0JBQStCLEVBQUUiLCJmaWxlIjoiTWVudUl0ZW1EaXNwbGF5LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKFwiaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3MyP2ZhbWlseT1OdW5pdG86d2dodEA3MDAmZmFtaWx5PVBvcHBpbnM6d2dodEA0MDA7NTAwOzYwMDs3MDAmZGlzcGxheT1zd2FwXCIpO1xuLyogdGhlbWUgY29sb3VycyAqL1xuLyogc2VtYW50aWMgY29sb3VycyAqL1xuI21lbnVpdGVtIHtcbiAgZGlzcGxheTogZmxleDtcbiAgcGFkZGluZzogMy41cmVtO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmOGY1ZmY7XG4gIGJvcmRlci1yYWRpdXM6IDUwcHg7XG4gIGNvbG9yOiAjMjMyMzIzO1xuICBmb250LXdlaWdodDogNDAwO1xuICBmb250LWZhbWlseTogXCJQb3BwaW5zXCIsIHNhbnMtc2VyaWY7XG4gIGhlaWdodDogMTAwJTsgfVxuICAjbWVudWl0ZW0gI3Bhc3RyeS1pbWctZGl2IHtcbiAgICB3aWR0aDogNDAlO1xuICAgIGhlaWdodDogYXV0bztcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgYm9yZGVyLXJhZGl1czogNTAlO1xuICAgIG92ZXJmbG93OiBoaWRkZW47IH1cbiAgICAjbWVudWl0ZW0gI3Bhc3RyeS1pbWctZGl2OmFmdGVyIHtcbiAgICAgIGNvbnRlbnQ6ICcnO1xuICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICBwYWRkaW5nLWJvdHRvbTogMTAwJTsgfVxuICAgICNtZW51aXRlbSAjcGFzdHJ5LWltZy1kaXYgI3Bhc3RyeS1pbWcge1xuICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICBoZWlnaHQ6IGF1dG87XG4gICAgICBvYmplY3QtZml0OiBjb250YWluOyB9XG4gICNtZW51aXRlbSAjbWVudWl0ZW0taW5mbyB7XG4gICAgd2lkdGg6IDQwJTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgZGlzcGxheTogZ3JpZDtcbiAgICBnYXA6IDIlO1xuICAgIGdyaWQtdGVtcGxhdGUtcm93czogMTUlIDUlIDE1JSA0MiUgMTUlOyB9XG4gICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvID4gKiB7XG4gICAgICBoZWlnaHQ6IDEwMCU7IH1cbiAgICAjbWVudWl0ZW0gI21lbnVpdGVtLWluZm8gaDEge1xuICAgICAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgICAgIGZvbnQtZmFtaWx5OiBcIk51bml0b1wiLCBzYW5zLXNlcmlmOyB9XG4gICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvIGgzIHtcbiAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgICAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgICAgIGZvbnQtZmFtaWx5OiBcIlBvcHBpbnNcIiwgc2Fucy1zZXJpZjsgfVxuICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvIGgzIC5wcmljZSB7XG4gICAgICAgIGNvbG9yOiAjOTM3N2UyOyB9XG4gICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNmbGF2b3VycyB7XG4gICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjsgfVxuICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNmbGF2b3VycyBkaXYge1xuICAgICAgICBkaXNwbGF5OiBncmlkO1xuICAgICAgICBnYXA6IDFyZW07XG4gICAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMWZyIDFmcjtcbiAgICAgICAgZ3JpZC1hdXRvLXJvd3M6IDRyZW07XG4gICAgICAgIG92ZXJmbG93OiBhdXRvO1xuICAgICAgICBwYWRkaW5nLXJpZ2h0OiAxcmVtOyB9XG4gICAgICAgICNtZW51aXRlbSAjbWVudWl0ZW0taW5mbyAjZmxhdm91cnMgZGl2IC5mbGF2b3VyIHtcbiAgICAgICAgICBmb250LXdlaWdodDogNDAwO1xuICAgICAgICAgIGZvbnQtZmFtaWx5OiBcIlBvcHBpbnNcIiwgc2Fucy1zZXJpZjtcbiAgICAgICAgICBib3gtc2hhZG93OiByZ2JhKDAsIDAsIDAsIDAuMSkgMCA0cHggMTZweCAtM3B4O1xuICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6ICNmZmZmZmY7XG4gICAgICAgICAgcGFkZGluZzogMXJlbTtcbiAgICAgICAgICB0cmFuc2l0aW9uOiBhbGwgMC41czsgfVxuICAgICAgICAgICNtZW51aXRlbSAjbWVudWl0ZW0taW5mbyAjZmxhdm91cnMgZGl2IC5mbGF2b3VyLnNlbGVjdGVkIHtcbiAgICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6ICNkNWM2ZmY7IH1cbiAgICAgICAgICAjbWVudWl0ZW0gI21lbnVpdGVtLWluZm8gI2ZsYXZvdXJzIGRpdiAuZmxhdm91cjpob3ZlciB7XG4gICAgICAgICAgICBib3gtc2hhZG93OiAjZDVjNmZmIDAgNHB4IDE2cHggLTNweDsgfVxuICAgICNtZW51aXRlbSAjbWVudWl0ZW0taW5mbyAjYWRkLXRvLWNhcnQtc2VjdGlvbiB7XG4gICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAgICAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgICAgIGZvbnQtZmFtaWx5OiBcIlBvcHBpbnNcIiwgc2Fucy1zZXJpZjtcbiAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgaGVpZ2h0OiA1cmVtOyB9XG4gICAgICAjbWVudWl0ZW0gI21lbnVpdGVtLWluZm8gI2FkZC10by1jYXJ0LXNlY3Rpb24gLmJ0biB7XG4gICAgICAgIHBhZGRpbmc6IDAuNXJlbTsgfVxuICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNhZGQtdG8tY2FydC1zZWN0aW9uIGNhbnZhcyB7XG4gICAgICAgIHdpZHRoOiBhdXRvO1xuICAgICAgICBoZWlnaHQ6IDEwMCU7XG4gICAgICAgIGJvcmRlci1yYWRpdXM6IDEwcHg7XG4gICAgICAgIGJveC1zaGFkb3c6IHJnYmEoMCwgMCwgMCwgMC4xKSAwIDRweCAxNnB4IC0zcHg7XG4gICAgICAgIGN1cnNvcjogcG9pbnRlcjsgfVxuICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNhZGQtdG8tY2FydC1zZWN0aW9uICNhZGQtdG8tY2FydC1idG4ge1xuICAgICAgICB3aWR0aDogZml0LWNvbnRlbnQ7IH1cbiAgICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNhZGQtdG8tY2FydC1zZWN0aW9uICNhZGQtdG8tY2FydC1idG4gI2FkZC10by1jYXJ0LXN1Y2Nlc3Mge1xuICAgICAgICAgIG9wYWNpdHk6IDA7XG4gICAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgICAgIGxlZnQ6IDI2cHg7XG4gICAgICAgICAgdHJhbnNpdGlvbjogMXMgYWxsOyB9XG4gICAgICAgICNtZW51aXRlbSAjbWVudWl0ZW0taW5mbyAjYWRkLXRvLWNhcnQtc2VjdGlvbiAjYWRkLXRvLWNhcnQtYnRuICNmaXJzdCB7XG4gICAgICAgICAgZGlzcGxheTogaW5saW5lO1xuICAgICAgICAgIHJpZ2h0OiA4cHg7XG4gICAgICAgICAgdHJhbnNpdGlvbjogMC43cyBhbGw7XG4gICAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlOyB9XG4gICAgICAgICNtZW51aXRlbSAjbWVudWl0ZW0taW5mbyAjYWRkLXRvLWNhcnQtc2VjdGlvbiAjYWRkLXRvLWNhcnQtYnRuICNleHRyYSB7XG4gICAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgICAgIHJpZ2h0OiAyMHB4O1xuICAgICAgICAgIGRpc3BsYXk6IGlubGluZTtcbiAgICAgICAgICB0cmFuc2l0aW9uOiAwLjdzIGFsbDsgfVxuICAgICAgICAjbWVudWl0ZW0gI21lbnVpdGVtLWluZm8gI2FkZC10by1jYXJ0LXNlY3Rpb24gI2FkZC10by1jYXJ0LWJ0biAjZXh0cmEtaW5uZXIge1xuICAgICAgICAgIG9wYWNpdHk6IDA7XG4gICAgICAgICAgdHJhbnNpdGlvbjogMC43cyBhbGw7XG4gICAgICAgICAgcmlnaHQ6IDMwcHg7XG4gICAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgICAgIGRpc3BsYXk6IGlubGluZTsgfVxuICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNhZGQtdG8tY2FydC1zZWN0aW9uICNxdHktY2hvb3NlciB7XG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAgIHdpZHRoOiA1MCU7XG4gICAgICAgIGJveC1zaGFkb3c6IHJnYmEoMCwgMCwgMCwgMC4xKSAwIDRweCAxNnB4IC0zcHg7XG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6ICNmZmZmZmY7XG4gICAgICAgIHBhZGRpbmc6IDEuNXJlbTtcbiAgICAgICAgY29sdW1uLWdhcDogNCU7XG4gICAgICAgIGJvcmRlci1yYWRpdXM6IDEwcHg7IH1cbiAgICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNhZGQtdG8tY2FydC1zZWN0aW9uICNxdHktY2hvb3NlciAjcXR5IHtcbiAgICAgICAgICBvdXRsaW5lOiBub25lO1xuICAgICAgICAgIGJvcmRlcjogbm9uZTtcbiAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgICAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgICAgICAgICBmb250LWZhbWlseTogXCJQb3BwaW5zXCIsIHNhbnMtc2VyaWY7XG4gICAgICAgICAgd2lkdGg6IDMwJTsgfVxuICAgICAgICAjbWVudWl0ZW0gI21lbnVpdGVtLWluZm8gI2FkZC10by1jYXJ0LXNlY3Rpb24gI3F0eS1jaG9vc2VyIC5idG4ge1xuICAgICAgICAgIGJvcmRlci1yYWRpdXM6IDA7XG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZmZmZjtcbiAgICAgICAgICBmb250LXNpemU6IDEuNXJlbTtcbiAgICAgICAgICB3aWR0aDogMzAlOyB9XG4gICAgICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNhZGQtdG8tY2FydC1zZWN0aW9uICNxdHktY2hvb3NlciAuYnRuLnBsdXMge1xuICAgICAgICAgICAgYm9yZGVyLWxlZnQ6IDJweCBzb2xpZCAjMjMyMzIzOyB9XG4gICAgICAgICAgI21lbnVpdGVtICNtZW51aXRlbS1pbmZvICNhZGQtdG8tY2FydC1zZWN0aW9uICNxdHktY2hvb3NlciAuYnRuLm1pbnVzIHtcbiAgICAgICAgICAgIGJvcmRlci1yaWdodDogMnB4IHNvbGlkICMyMzIzMjM7IH1cbiJdfQ== */