@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
/* theme colours */
/* semantic colours */
/* functionality colours */
#menuitem {
  display: flex;
  padding: 3rem 3.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f5ff;
  border-radius: 50px;
  color: #232323;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  height: 100%; }
  #menuitem #pastry-img-div {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; }
    #menuitem #pastry-img-div:after {
      content: '';
      display: block;
      padding-bottom: 100%; }
    #menuitem #pastry-img-div #pastry-img {
      width: 100%;
      height: auto;
      object-fit: contain; }
  #menuitem #menuitem-info {
    width: 40%;
    height: 100%;
    display: grid;
    gap: 2%;
    grid-template-rows: 15% 5% 15% 42% 15%; }
    #menuitem #menuitem-info > * {
      height: 100%; }
    #menuitem #menuitem-info h1 {
      font-weight: 700;
      font-family: "Nunito", sans-serif; }
    #menuitem #menuitem-info h3 {
      display: flex;
      flex-direction: row;
      font-weight: 700;
      font-family: "Poppins", sans-serif; }
      #menuitem #menuitem-info h3 .price {
        color: #9377e2; }
    #menuitem #menuitem-info #flavours {
      display: flex;
      flex-direction: column; }
      #menuitem #menuitem-info #flavours div {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 4rem;
        overflow: auto;
        padding: 0 1rem 0.5rem 0;
        height: 100%; }
        #menuitem #menuitem-info #flavours div .flavour {
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px -3px;
          background-color: #ffffff;
          padding: 1rem;
          transition: all 0.5s; }
          #menuitem #menuitem-info #flavours div .flavour.selected {
            background-color: #d5c6ff; }
          #menuitem #menuitem-info #flavours div .flavour:hover {
            box-shadow: #d5c6ff 0 4px 16px -3px; }
    #menuitem #menuitem-info #add-to-cart-section {
      display: grid;
      grid-template-columns: 2fr 1.15fr;
      grid-template-rows: 100%;
      gap: 3rem;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      width: 100%;
      height: 100%; }
      #menuitem #menuitem-info #add-to-cart-section .btn {
        padding: 0.5rem; }
      #menuitem #menuitem-info #add-to-cart-section #add-to-cart-btn {
        width: auto;
        height: 100%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px -3px;
        cursor: pointer; }
      #menuitem #menuitem-info #add-to-cart-section #qty-chooser {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px -3px;
        background-color: #ffffff;
        padding: 1.5rem;
        column-gap: 4%;
        border-radius: 10px; }
        #menuitem #menuitem-info #add-to-cart-section #qty-chooser #qty {
          outline: none;
          border: none;
          text-align: center;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
          width: 30%; }
        #menuitem #menuitem-info #add-to-cart-section #qty-chooser .btn {
          border-radius: 0;
          background-color: #ffffff;
          font-size: 1.5rem;
          width: 30%; }
          #menuitem #menuitem-info #add-to-cart-section #qty-chooser .btn.plus {
            border-left: 2px solid #232323; }
          #menuitem #menuitem-info #add-to-cart-section #qty-chooser .btn.minus {
            border-right: 2px solid #232323; }
