/* theme colours */
$primary: #9377e2;
$primary-light: #d5c6ff;
$bg: #ffffff;
$bgDarker: #f8f5ff;
$shadow: rgba(0, 0, 0, 0.1);
$onLight: #232323;
$onDark: #ffffff;
$accent:#8EC1FD;

/* semantic colours */
$sucess:#3ABC41;
$info:#66AAFF;
$warning:#FFBF1E;
$danger:#FF3A54;