/* theme colours */
$primary: #9377e2;
$primary-light: #d5c6ff;
$bg: #ffffff;
$bgDarker: #f8f5ff;
$shadow: rgba(0, 0, 0, 0.1);
$onLight: #232323;
$onDark: #ffffff;
$accent: #8ec1fd;
$placeholder: #a6a6a6;

/* semantic colours */
$success: #3abc41;
$info: #66aaff;
$warning: #ffbf1e;
$danger: #ff3a54;
$success-light: #8ee092;
$info-light: #abcffa;
$warning-light: #ffde8c;
$danger-light: #ff9aa8;
