#signup {
    background: url('../../assets/bg/Blue Spiral.png');
    background-position: center;
    background-size: cover;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
