@import '../../global/colours';


.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner-rings {
        border: 5px solid $bgDarker;
        border-radius: 50%;
        border-top: 5px solid $primary;
        border-bottom: 5px solid $primary-light;
        width: 7rem;
        height: 7rem;
        animation: spin 3s ease infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}
