/* theme colours */
/* semantic colours */
/* functionality colours */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
#not-found {
  background-color: #9377e2;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  #not-found > img {
    width: 50%;
    height: auto; }
  #not-found .action {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff; }
    #not-found .action a {
      max-width: 100%; }
    #not-found .action h1 {
      font-size: 3.5rem; }
    #not-found .action .btn.filled {
      background-color: #8ec1fd;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px -3px;
      font-size: 1.5rem;
      display: flex;
      max-width: 100%;
      height: 5rem;
      align-items: center;
      justify-content: space-evenly; }
      #not-found .action .btn.filled .icon {
        height: 3rem;
        width: 3rem; }
      #not-found .action .btn.filled img {
        margin-left: 0.5rem;
        height: 100%;
        width: auto;
        object-fit: contain; }
