#menu {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 5rem auto;
    column-gap: 2%;
    grid-template-areas: 'navbar navbar' 'menuitem category';
    height: 100vh;
    width: 100%;
    padding: 2rem;

    nav {
        grid-area: navbar;
    }

    #menuitem {
        grid-area: menuitem;
    }

    #menuitem-switcher {
        grid-area: category;
    }
}
