#auth-form {
    margin: auto 0px; /* For positioning in the center of the page vertically */

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    & form {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background: #ffffff;
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 40px;
    }

    & input {
        display: block;
        border: none;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 2.3em;
        border-bottom: 2px solid #7c5fcc;
    }

    & .form-field {
        position: relative;
        display: inline-block;
    }

    & span {
        padding: 15px 30px;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.5s;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        opacity: 0.5;
    }

    & input:focus + span,
    & input:not(:placeholder-shown) + span {
        opacity: 0.7;
        transform: scale(0.75) translateY(-100%) translateX(-45px);
    }

    /* For IE Browsers*/
    & input:focus + span,
    & input:not(:-ms-input-placeholder) + span {
        opacity: 0.7;
        transform: scale(0.75) translateY(-100%) translateX(-45px);
    }
}

#auth-header img {
    width: 200px;
    margin-bottom: 10px;
}
.auth-btn {
    border: none;
    background: #9377e2;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    transition: 0.3s;

    &:hover {
        background: #7c5fcc;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    }
}

#auth-toggle {
    font-size: 1.2em;
    color: #b9b8b8;
    margin-bottom: 10px;
    font-weight: bold;
}

#auth-toggle button {
    background: none;
    border: none;
    font-weight: bold;
    color: #7c5fcc;
}

#auth-toggle button:hover {
    cursor: pointer;
    color: #9377e2;
}
