/* theme colours */
/* semantic colours */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
#back-to-cart-error {
    width: 100%;
    height: 100vh;
    background-color: #ff3a54;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#back-to-cart-error img {
    width: 35%;
    height: auto;
    object-fit: contain;
    margin-bottom: 2.5rem;
}
#back-to-cart-error h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
#back-to-cart-error p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}
