/* theme colours */
/* semantic colours */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
#enter-card {
  width: 100%;
  height: 100vh;
  background-color: #f8f5ff;
  padding: 3rem 4.5rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #232323; }
  #enter-card .content {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    background-color: #ffffff; }
    #enter-card .content a.danger {
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;
      color: #ff3a54; }
    #enter-card .content h1,
    #enter-card .content h2 {
      font-weight: 700;
      font-family: "Poppins", sans-serif; }
    #enter-card .content img {
      width: 50%;
      height: auto;
      object-fit: contain; }
    #enter-card .content form {
      display: grid;
      grid-template-columns: min-content;
      grid-template-rows: min-content min-content min-content;
      grid-auto-rows: min-content;
      gap: 2%;
      height: 100%;
      width: 40%; }
      #enter-card .content form input::placeholder {
        color: #A6A6A6; }
      #enter-card .content form input {
        border: none;
        outline: none;
        border-bottom: 2px solid #232323;
        padding: 1rem 0;
        transition: all 0.3s; }
      #enter-card .content form input:focus {
        border-bottom-color: #9377e2; }
      #enter-card .content form #date-and-cvv {
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 10%; }
        #enter-card .content form #date-and-cvv #select-date #month-year {
          display: grid;
          grid-template-columns: 47% 47%;
          gap: 6%; }
        #enter-card .content form #date-and-cvv div {
          display: flex;
          flex-direction: column; }
