@import '../../global/colours';
@import '../../global/fonts';

.cart-list-item {
    display: grid;
    grid-template-columns: 12% 40% 15% 15% 10%;
    grid-template-rows: min-content;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    column-gap: 2%;
    color: $onLight;

    & > div {
        width: 100%;
        height: 100%;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name {
            @include menuitem;
            font-size: 1.85rem;
        }

        .desc {
            @include body;
            font-size: 1.15rem;
        }
    }

    .counter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .price,
    .qty {
        display: flex;
        justify-content: center;
        align-items: center;
        @include heading1;
        font-size: 1.75rem;
    }

    .btn {
        height: 2rem;
        width: 2rem;
    }

    img {
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
}
