@import '../../global/fonts';
@import '../../global/colours';

nav {
    @include heading1;
    position: relative;
    //background-color: $primary-light;
    padding: 1rem 3rem 1rem 3rem;
    //box-shadow: $shadow 0 4px 16px -3px;

    #main-nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    img {
        height: 100%;
        object-fit: contain;
        width: auto;
    }

    div.right {
        max-height: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: min-content;
        grid-template-areas: 'menulink cartlink accountlink';
        grid-template-rows: 100%;
        gap: 0.5rem;
        align-items: center;
    }

    a {
        font-size: 1.2rem;
        color: $onLight;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #accounts,
    .btn.icon {
        height: 3.5rem;
        width: 3.5rem;
    }

    #menu-link {
        grid-area: menulink;
    }

    #cart-link {
        grid-area: cartlink;

        .circle {
            background-color: $accent;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            color: $onLight;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn.filled.primary {
            height: 3.5rem;
        }
    }

    #account-dropdown-section {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        align-self: baseline;
        right: 0;
        max-height: 100%;
        width: 8rem;
        grid-area: accountlink;
        //top:0;
        z-index: 1;
    }

    #account-dropdown {
        position: relative;
        display: flex;

        @include body;
        flex-direction: column;
        background-color: $primary;
        border-radius: 10px;
        padding: 1.5rem;
        width: 8rem;
        box-shadow: $shadow 0 4px 16px;

        & > * {
            text-align: center;
            color: $onDark;
        }

        a {
            padding: 1rem 0;
        }

        hr {
            width: 100%;
            border-color: $shadow;
        }

        &.hidden {
            visibility: hidden;
            pointer-events: none;
            display: none;
        }
    }
}
