@import '../../global/fonts';
@import '../../global/colours';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include heading1;
    //background-color: $primary-light;
    padding: 1rem 6rem 1rem 6rem;
    //box-shadow: $shadow 0 4px 16px -3px;

    img{
        height: 100%;
        object-fit: contain;
        width:auto;
    }

    div {
        display: grid;
        justify-content: center;
        grid-template-columns: min-content min-content min-content;
        grid-auto-columns: min-content;
        grid-template-rows: 1fr;
        gap: 1.5rem;
        align-items: center;
    }

    a {
        font-size: 1.2rem;
        color: $onLight;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #account-link,
    .btn.icon {
        height: 3.5rem;
        width: 3.5rem;
    }
}
