/* theme colours */
/* semantic colours */
/* functionality colours */
#nav-sidebar {
  background-color: #9377e2; }

#sweetbs-logo {
  height: 65px; }

#sidebar-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.portal-divider {
  border: none;
  border-top: 1px solid #dcdcdc;
  margin: 10px 0px; }

.portal-nav-items li {
  display: flex;
  font-size: 1.1em;
  color: #ffffff;
  padding: 5px;
  transition: all 0.5s ease; }

.portal-nav-items p {
  margin: 10px; }

.portal-nav-items li:hover {
  cursor: pointer;
  background-color: #7c5fcc; }

.portal-divider-word {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff; }

.portal-divider-word::before,
.portal-divider-word::after {
  content: '';
  flex: 10;
  border-bottom: 1px solid #ffffff; }

.portal-divider-word:not(:empty)::before {
  margin-right: 0.25em; }

.portal-divider-word:not(:empty)::after {
  margin-left: 0.25em; }
