@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
#cart {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 100vh;
    width: 100%;
    max-height: 100vh;
    grid-template-areas: 'main summary';
}
#cart #order-summary {
    grid-area: summary;
}
#cart main {
    padding: 3rem 5rem;
    grid-area: main;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 9fr;
    grid-template-columns: auto;
}
#cart main .pgtitle {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    color: #232323;
    margin: 2rem 0;
}
#cart main a.nav {
    color: #9377e2;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 1.15rem;
}
