@import "../../global/fonts";
@import "../../global/colours";

#cart{
    
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
    grid-template-rows: 0.5fr 0.5fr 9fr;
    width:100%;
    height:100vh;

    grid-template-areas:"back summary" "title summary" "cart summary" ;

    a.nav {
        grid-area: back;
    }

    #order-summary{
        grid-area: summary;
    }

    .pgtitle{
        grid-area: title;
    }

}