#menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto;
  column-gap: 2%;
  grid-template-areas: 'navbar' 'maincontent';
  height: 100vh;
  width: 100%; }
  #menu nav {
    grid-area: navbar; }
  #menu .content {
    padding: 2rem 3rem;
    grid-template-columns: 8fr 2fr;
    display: grid;
    grid-template-areas: 'menuitem category';
    grid-template-rows: 1fr;
    grid-area: maincontent; }
    #menu .content #menuitem {
      grid-area: menuitem; }
    #menu .content #menuitem-switcher {
      grid-area: category; }
  #menu .spinner {
    grid-area: maincontent; }
