.cart-list-item{
    display: grid;
    grid-template-columns: 15% 40% 15% 20% 15%;
    grid-template-rows: min-content;

    .info{
        display: flex;
        flex-direction: column;
    }

    .counter{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

