@import '../../../global/fonts';
@import '../../../global/colours';

#success {
    height:100vh;
    width:100%;
    display: grid;
    grid-template-rows: 5rem min-content;
    @include body;
    padding: 3rem;

    .content{
        //display: grid;
        grid-template-rows: 50% 1fr 1fr 1fr;
        justify-items: center;
        align-content: center;
        height: 100%;

        img{
            height:50%;
            width:auto;
            object-fit: contain;
            display: block;
            max-height: 50%;
        }
    }
}