/* theme colours */
/* semantic colours */
/* functionality colours */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.btn {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .btn:not(.icon) {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 1.2rem 2.5rem;
    border-radius: 10px; }
  .btn.icon {
    border-radius: 50%; }
  .btn.filled {
    color: #ffffff; }
    .btn.filled.primary {
      background-color: #9377e2; }
      .btn.filled.primary:disabled {
        background-color: #d5c6ff; }
    .btn.filled.danger {
      background-color: #ff3a54; }
      .btn.filled.danger:disabled {
        background-color: #ff9aa8; }
    .btn.filled.success {
      background-color: #3abc41; }
      .btn.filled.success:disabled {
        background-color: #8ee092; }
    .btn.filled.warning {
      background-color: #ffbf1e; }
      .btn.filled.warning:disabled {
        background-color: #ffde8c; }
    .btn.filled.info {
      background-color: #66aaff; }
      .btn.filled.info:disabled {
        background-color: #abcffa; }
    .btn.filled:disabled {
      cursor: not-allowed;
      color: #f8f5ff; }
  .btn.outline {
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid; }
    .btn.outline.primary {
      border-color: #9377e2;
      color: #9377e2; }
    .btn.outline.danger {
      border-color: #ff3a54;
      color: #ff3a54; }
    .btn.outline.warning {
      border-color: #ffbf1e;
      color: #ffbf1e; }
    .btn.outline.success {
      border-color: #3abc41;
      color: #3abc41; }
    .btn.outline.info {
      border-color: #66aaff;
      color: #66aaff; }

body {
  margin: 0;
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

:root {
  font-size: 12px; }

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track,
::-webkit-scrollbar {
  background-color: transparent; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-corner {
  background-color: #f8f5ff;
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #d5c6ff;
  border-radius: 7px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #9377e2; }

ul {
  list-style-type: none; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxrQkFBa0I7QUFDbEIscUJBQXFCO0FBQ3JCLDBCQUEwQjtBQUMxQix3SEFBd0g7QUFDeEg7RUFDRSxhQUFhO0VBQ2IsWUFBWTtFQUNaLGFBQWE7RUFDYixtQkFBbUI7RUFDbkIsdUJBQXVCO0VBQ3ZCLGVBQWUsRUFBRTtFQUNqQjtJQUNFLGdCQUFnQjtJQUNoQixrQ0FBa0M7SUFDbEMsc0JBQXNCO0lBQ3RCLG1CQUFtQixFQUFFO0VBQ3ZCO0lBQ0Usa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxjQUFjLEVBQUU7SUFDaEI7TUFDRSx5QkFBeUIsRUFBRTtNQUMzQjtRQUNFLHlCQUF5QixFQUFFO0lBQy9CO01BQ0UseUJBQXlCLEVBQUU7TUFDM0I7UUFDRSx5QkFBeUIsRUFBRTtJQUMvQjtNQUNFLHlCQUF5QixFQUFFO01BQzNCO1FBQ0UseUJBQXlCLEVBQUU7SUFDL0I7TUFDRSx5QkFBeUIsRUFBRTtNQUMzQjtRQUNFLHlCQUF5QixFQUFFO0lBQy9CO01BQ0UseUJBQXlCLEVBQUU7TUFDM0I7UUFDRSx5QkFBeUIsRUFBRTtJQUMvQjtNQUNFLG1CQUFtQjtNQUNuQixjQUFjLEVBQUU7RUFDcEI7SUFDRSx5QkFBeUI7SUFDekIsaUJBQWlCO0lBQ2pCLG1CQUFtQixFQUFFO0lBQ3JCO01BQ0UscUJBQXFCO01BQ3JCLGNBQWMsRUFBRTtJQUNsQjtNQUNFLHFCQUFxQjtNQUNyQixjQUFjLEVBQUU7SUFDbEI7TUFDRSxxQkFBcUI7TUFDckIsY0FBYyxFQUFFO0lBQ2xCO01BQ0UscUJBQXFCO01BQ3JCLGNBQWMsRUFBRTtJQUNsQjtNQUNFLHFCQUFxQjtNQUNyQixjQUFjLEVBQUU7O0FBRXRCO0VBQ0UsU0FBUztFQUNULGdCQUFnQjtFQUNoQixtQ0FBbUM7RUFDbkMsa0NBQWtDLEVBQUU7O0FBRXRDO0VBQ0Usc0JBQXNCO0VBQ3RCLFVBQVU7RUFDVixTQUFTLEVBQUU7O0FBRWI7RUFDRSxxQkFBcUIsRUFBRTs7QUFFekI7RUFDRSxlQUFlLEVBQUU7O0FBRW5COzs7RUFHRSw2QkFBNkIsRUFBRTs7QUFFakM7RUFDRSxXQUFXLEVBQUU7O0FBRWY7RUFDRSxhQUFhLEVBQUU7O0FBRWpCO0VBQ0UseUJBQXlCO0VBQ3pCLGtCQUFrQixFQUFFOztBQUV0QjtFQUNFLHlCQUF5QjtFQUN6QixrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSx5QkFBeUIsRUFBRTs7QUFFN0I7RUFDRSxxQkFBcUIsRUFBRSIsImZpbGUiOiJpbmRleC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKiB0aGVtZSBjb2xvdXJzICovXG4vKiBzZW1hbnRpYyBjb2xvdXJzICovXG4vKiBmdW5jdGlvbmFsaXR5IGNvbG91cnMgKi9cbkBpbXBvcnQgdXJsKFwiaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3MyP2ZhbWlseT1OdW5pdG86d2dodEA3MDAmZmFtaWx5PVBvcHBpbnM6d2dodEA0MDA7NTAwOzYwMDs3MDAmZGlzcGxheT1zd2FwXCIpO1xuLmJ0biB7XG4gIG91dGxpbmU6IG5vbmU7XG4gIGJvcmRlcjogbm9uZTtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGN1cnNvcjogcG9pbnRlcjsgfVxuICAuYnRuOm5vdCguaWNvbikge1xuICAgIGZvbnQtd2VpZ2h0OiA3MDA7XG4gICAgZm9udC1mYW1pbHk6IFwiUG9wcGluc1wiLCBzYW5zLXNlcmlmO1xuICAgIHBhZGRpbmc6IDEuMnJlbSAyLjVyZW07XG4gICAgYm9yZGVyLXJhZGl1czogMTBweDsgfVxuICAuYnRuLmljb24ge1xuICAgIGJvcmRlci1yYWRpdXM6IDUwJTsgfVxuICAuYnRuLmZpbGxlZCB7XG4gICAgY29sb3I6ICNmZmZmZmY7IH1cbiAgICAuYnRuLmZpbGxlZC5wcmltYXJ5IHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICM5Mzc3ZTI7IH1cbiAgICAgIC5idG4uZmlsbGVkLnByaW1hcnk6ZGlzYWJsZWQge1xuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZDVjNmZmOyB9XG4gICAgLmJ0bi5maWxsZWQuZGFuZ2VyIHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICNmZjNhNTQ7IH1cbiAgICAgIC5idG4uZmlsbGVkLmRhbmdlcjpkaXNhYmxlZCB7XG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6ICNmZjlhYTg7IH1cbiAgICAuYnRuLmZpbGxlZC5zdWNjZXNzIHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICMzYWJjNDE7IH1cbiAgICAgIC5idG4uZmlsbGVkLnN1Y2Nlc3M6ZGlzYWJsZWQge1xuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjOGVlMDkyOyB9XG4gICAgLmJ0bi5maWxsZWQud2FybmluZyB7XG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZiZjFlOyB9XG4gICAgICAuYnRuLmZpbGxlZC53YXJuaW5nOmRpc2FibGVkIHtcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZGU4YzsgfVxuICAgIC5idG4uZmlsbGVkLmluZm8ge1xuICAgICAgYmFja2dyb3VuZC1jb2xvcjogIzY2YWFmZjsgfVxuICAgICAgLmJ0bi5maWxsZWQuaW5mbzpkaXNhYmxlZCB7XG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6ICNhYmNmZmE7IH1cbiAgICAuYnRuLmZpbGxlZDpkaXNhYmxlZCB7XG4gICAgICBjdXJzb3I6IG5vdC1hbGxvd2VkO1xuICAgICAgY29sb3I6ICNmOGY1ZmY7IH1cbiAgLmJ0bi5vdXRsaW5lIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmZmZmO1xuICAgIGJvcmRlci13aWR0aDogMnB4O1xuICAgIGJvcmRlci1zdHlsZTogc29saWQ7IH1cbiAgICAuYnRuLm91dGxpbmUucHJpbWFyeSB7XG4gICAgICBib3JkZXItY29sb3I6ICM5Mzc3ZTI7XG4gICAgICBjb2xvcjogIzkzNzdlMjsgfVxuICAgIC5idG4ub3V0bGluZS5kYW5nZXIge1xuICAgICAgYm9yZGVyLWNvbG9yOiAjZmYzYTU0O1xuICAgICAgY29sb3I6ICNmZjNhNTQ7IH1cbiAgICAuYnRuLm91dGxpbmUud2FybmluZyB7XG4gICAgICBib3JkZXItY29sb3I6ICNmZmJmMWU7XG4gICAgICBjb2xvcjogI2ZmYmYxZTsgfVxuICAgIC5idG4ub3V0bGluZS5zdWNjZXNzIHtcbiAgICAgIGJvcmRlci1jb2xvcjogIzNhYmM0MTtcbiAgICAgIGNvbG9yOiAjM2FiYzQxOyB9XG4gICAgLmJ0bi5vdXRsaW5lLmluZm8ge1xuICAgICAgYm9yZGVyLWNvbG9yOiAjNjZhYWZmO1xuICAgICAgY29sb3I6ICM2NmFhZmY7IH1cblxuYm9keSB7XG4gIG1hcmdpbjogMDtcbiAgbWF4LXdpZHRoOiAxMDB2dztcbiAgLXdlYmtpdC1mb250LXNtb290aGluZzogYW50aWFsaWFzZWQ7XG4gIC1tb3otb3N4LWZvbnQtc21vb3RoaW5nOiBncmF5c2NhbGU7IH1cblxuKiB7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIHBhZGRpbmc6IDA7XG4gIG1hcmdpbjogMDsgfVxuXG5hIHtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lOyB9XG5cbjpyb290IHtcbiAgZm9udC1zaXplOiAxMnB4OyB9XG5cbjo6LXdlYmtpdC1zY3JvbGxiYXItdHJhY2stcGllY2UsXG46Oi13ZWJraXQtc2Nyb2xsYmFyLXRyYWNrLFxuOjotd2Via2l0LXNjcm9sbGJhciB7XG4gIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50OyB9XG5cbjo6LXdlYmtpdC1zY3JvbGxiYXIge1xuICB3aWR0aDogMTJweDsgfVxuXG46Oi13ZWJraXQtc2Nyb2xsYmFyLWJ1dHRvbiB7XG4gIGRpc3BsYXk6IG5vbmU7IH1cblxuOjotd2Via2l0LXNjcm9sbGJhci1jb3JuZXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjhmNWZmO1xuICBib3JkZXItcmFkaXVzOiA1cHg7IH1cblxuOjotd2Via2l0LXNjcm9sbGJhci10aHVtYiB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNkNWM2ZmY7XG4gIGJvcmRlci1yYWRpdXM6IDdweDsgfVxuXG46Oi13ZWJraXQtc2Nyb2xsYmFyLXRodW1iOmhvdmVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzkzNzdlMjsgfVxuXG51bCB7XG4gIGxpc3Qtc3R5bGUtdHlwZTogbm9uZTsgfVxuIl19 */