#login {
    background: url('../../assets/bg/Pink Spiral.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
